.App{
  background-color: #17141D;
  color: #fff;
  margin: 0;
  /* padding: 1rem; */
  display: grid;
  grid-template-columns: 1fr 15fr;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  display: none;
  background: #231E29;
}

/* Handle */
::-webkit-scrollbar-thumb {
  display: none;
  background: rgb(175, 175, 175);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  display: none;
  background: rgb(116, 116, 116);
}